@import "theme";

#tab .state-annule {
  background: $palette-color-one;
}

#tab .state-option {
  background: lighten($palette-color-one, 30);
}

#tab .state-confirme {
  background: $palette-color-three;
}

#tab .state-actif {
  background: $palette-color-three;
}

#tab .state-inactif {
  background: $palette-color-one;
}

app-list-clients #tab thead {
  background: lighten($dark-color, 10);
  color: $light-color;
}
